fastapi
uvicorn[standard]
python-dotenv
requests
pydantic
openai

langchain
langchain-openai
langgraph

supabase
psycopg2-binary

reportlab
pypdf
python-multipart
pandas

uvicorn[standard]
python-multipart
pandas